In [3]:
import pandas as pd
goodreads_books = pd.read_csv('books.csv', error_bad_lines=False)
goodreads_books.describe()

b'Skipping line 4012: expected 10 fields, saw 11\nSkipping line 5688: expected 10 fields, saw 11\nSkipping line 7056: expected 10 fields, saw 11\nSkipping line 10601: expected 10 fields, saw 11\nSkipping line 10668: expected 10 fields, saw 11\n'

,bookID,average_rating,isbn13,# num_pages,ratings_count,text_reviews_count
count,13714.000000,13714.000000,1.371400e+04,13714.000000,1.371400e+04,13714.000000
mean,22159.859195,3.930620,9.764017e+12,342.402727,1.776540e+04,533.632128
std,13700.926816,0.357893,3.987679e+11,252.650165,1.129572e+05,2529.006691
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10619.250000,3.770000,9.780345e+12,196.000000,8.300000e+01,7.000000
50%,21321.500000,3.960000,9.780613e+12,301.000000,6.305000e+02,40.000000
75%,33311.750000,4.130000,9.780940e+12,421.000000,4.742250e+03,222.000000
max,47709.000000,5.000000,9.790008e+12,6576.000000,5.629932e+06,93619.000000

In [5]:
goodreads_books.dtypes
goodreads_books['title'].value_counts()

'Salem's Lot                                                                                                                       11
One Hundred Years of Solitude                                                                                                      11
The Brothers Karamazov                                                                                                             10
The Iliad                                                                                                                          10
Gulliver's Travels                                                                                                                  9
A Tale of Two Cities                                                                                                                9
The Lord of the Rings (The Lord of the Rings  #1-3)                                                                                 9
Collected Stories                                                                                                                   9
A Midsummer Night's Dream                                                                                                           9
Romeo and Juliet                                                                                                                    8
The Odyssey                                                                                                                         8
Robinson Crusoe                                                                                                                     8
Anna Karenina                                                                                                                       8
Heart of Darkness                                                                                                                   7
The Scarlet Letter                                                                                                                  7
Fahrenheit 451                                                                                                                      7
Pride and Prejudice                                                                                                                 7
Lord of the Flies                                                                                                                   7
The Picture of Dorian Gray                                                                                                          7
The Enemy (Jack Reacher  #8)                                                                                                        6
The Secret Garden                                                                                                                   6
The Great Gatsby                                                                                                                    6
The Communist Manifesto                                                                                                             6
King Lear                                                                                                                           6
The Idiot                                                                                                                           6
Sense and Sensibility                                                                                                               6
Treasure Island                                                                                                                     6
Jane Eyre                                                                                                                           6
The Histories                                                                                                                       6
Macbeth                                                                                                                             6
                                                                                                                                   ..
The Chaneysville Incident                                                                                                           1
Conversations With God: An Uncommon Dialogue  Book 3                                                                                1
Rayuela                                                                                                                             1
Complete Poems  1904-1962                                                                                                           1
Chronicles of Wasted Time                                                                                                           1
This Other Eden                                                                                                                     1
City of the Beasts (Eagle and Jaguar  #1)                                                                                           1
The Lake of Souls (Cirque du Freak #10)                                                                                             1
Aphrodite's Passion (Superhero Central #2)                                                                                          1
The Female Brain                                                                                                                    1
Forever Odd (Odd Thomas  #2)                                                                                                        1
Five Children and It                                                                                                                1
Flirting With Danger (Samantha Jellicoe  #1)                                                                                        1
Zone of the Enders: The 2nd Runner Official Strategy Guide                                                                          1
Harrison's Principles of Internal Medicine                                                                                          1
Air Gear  Vol. 4 (Air Gear  #4)                                                                                                     1
Autobiographies: Narrative of the Life of Frederick Douglass / My Bondage and My Freedom / Life and Times of Frederick Douglass     1
The Letters of Virginia Woolf: Volume Six  1936-1941                                                                                1
More Tales of the City (Tales of the City  #2)                                                                                      1
The Door to Time (Ulysses Moore  #1)                                                                                                1
Eat Right 4 Your Type                                                                                                               1
The Portable John Adams                                                                                                             1
Founding Brothers: The Revolutionary Generation                                                                                     1
Tout est illuminé                                                                                                                   1
Saint Augustine                                                                                                                     1
Winter's Tales                                                                                                                      1
Where Are the Children?                                                                                                             1
When the Rivers Run Dry: Water - The Defining Crisis of the Twenty-first Century                                                    1
The Well At The World's End: Volume I                                                                                               1
The Collected Autobiographies of Maya Angelou                                                                                       1
Name: title, Length: 12422, dtype: int64

In [7]:
goodreads_books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '# num_pages', 'ratings_count', 'text_reviews_count'],
      dtype='object')

In [8]:
# The Dataset has some missing values
goodreads_books = goodreads_books.dropna(axis=0)

In [11]:
goodreads_features = ['title', 'authors']
X = goodreads_books[goodreads_features]
X.describe()

               title          authors
count          13714            13714
unique         12422             7600
top     'Salem's Lot  Agatha Christie
freq              11               69